.likeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: white;

    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;

    transition: opacity 0.2s, box-shadow 0.2s;
}

.likeBtn:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1)
}

.shown {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.likeBtn svg path {
    transition: fill 0.2s, stroke 0.2s;
}

.likeBtn.default svg path {
    fill: white;
    stroke: #8c8f9a;
}

.likeBtn.liked svg path {
    fill: #fc4141;
    stroke: #fc4141;
}
