.ul {
    gap: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.link {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    padding: 8px;
    background-color: #E6E6E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
