:root {
  --background: #ffffff;
  --background-footer: #F7F8F8;
  --foreground: #030712;
  --primary: #66a52b;
  --secondary: #fc4141;
  --text-primary: #030712;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-podkova);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.radix-themes {
  --font-weight-medium: 600;
  --font-weight-bold: 600;
  --heading-font-family: var(--font-podkova);
  --default-font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

:root, .light, .light-theme {
  --lime-1: #fbfefa;
  --lime-2: #f6fbf4;
  --lime-3: #ebf6e5;
  --lime-4: #dff0d4;
  --lime-5: #cfe8c0;
  --lime-6: #bcdca6;
  --lime-7: #a2cc85;
  --lime-8: #7eb751;
  --lime-9: #66a52b;
  --lime-10: #5c9822;
  --lime-11: #467b09;
  --lime-12: #283b1a;

  --lime-a1: #33cc0005;
  --lime-a2: #2fa3000b;
  --lime-a3: #3ba7001a;
  --lime-a4: #42a7012b;
  --lime-a5: #3da2003f;
  --lime-a6: #409b0059;
  --lime-a7: #3d95017a;
  --lime-a8: #429600ae;
  --lime-a9: #479300d4;
  --lime-a10: #438800dd;
  --lime-a11: #3f7600f6;
  --lime-a12: #102500e5;

  --lime-contrast: #fff;
  --lime-surface: #f4faf1cc;
  --lime-indicator: #66a52b;
  --lime-track: #66a52b;

  --gray-1: #fbfcff;
  --gray-2: #f6f9ff;
  --gray-3: #ecf1f9;
  --gray-4: #e2e9f4;
  --gray-5: #dae2f0;
  --gray-6: #d1daeb;
  --gray-7: #c3cfe5;
  --gray-8: #adbdd7;
  --gray-9: #808ea7;
  --gray-10: #76849c;
  --gray-11: #58647a;
  --gray-12: #030712;

  --gray-a1: #0040ff04;
  --gray-a2: #0055ff09;
  --gray-a3: #0044af13;
  --gray-a4: #003e9f1d;
  --gray-a5: #00389825;
  --gray-a6: #0032912e;
  --gray-a7: #0033913c;
  --gray-a8: #00328352;
  --gray-a9: #001d4f7f;
  --gray-a10: #001a4789;
  --gray-a11: #001334a7;
  --gray-a12: #00040de7;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #808ea7;
  --gray-track: #808ea7;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --lime-1: oklch(99.4% 0.006 133.2);
      --lime-2: oklch(98.2% 0.0103 133.2);
      --lime-3: oklch(96.1% 0.026 133.2);
      --lime-4: oklch(93.4% 0.0415 133.2);
      --lime-5: oklch(90.1% 0.0593 133.2);
      --lime-6: oklch(85.8% 0.08 133.2);
      --lime-7: oklch(79.8% 0.1065 133.2);
      --lime-8: oklch(71.6% 0.1458 133.2);
      --lime-9: oklch(65.5% 0.1647 133.2);
      --lime-10: oklch(61.6% 0.1588 133.2);
      --lime-11: oklch(52.7% 0.1454 133.2);
      --lime-12: oklch(32.7% 0.06 133.2);

      --lime-a1: color(display-p3 0.4118 0.8039 0.0196 / 0.02);
      --lime-a2: color(display-p3 0.2196 0.6118 0.0235 / 0.04);
      --lime-a3: color(display-p3 0.2902 0.6471 0.0118 / 0.099);
      --lime-a4: color(display-p3 0.2941 0.6118 0.0039 / 0.161);
      --lime-a5: color(display-p3 0.2745 0.5961 0.0039 / 0.232);
      --lime-a6: color(display-p3 0.2784 0.5725 0.0039 / 0.33);
      --lime-a7: color(display-p3 0.2627 0.549 0.0039 / 0.451);
      --lime-a8: color(display-p3 0.2745 0.5412 0 / 0.632);
      --lime-a9: color(display-p3 0.2706 0.5176 0 / 0.75);
      --lime-a10: color(display-p3 0.251 0.4706 0 / 0.781);
      --lime-a11: color(display-p3 0.2157 0.3922 0 / 0.859);
      --lime-a12: color(display-p3 0.0627 0.1255 0 / 0.883);

      --lime-contrast: #fff;
      --lime-surface: color(display-p3 0.9608 0.9804 0.9451 / 0.8);
      --lime-indicator: oklch(65.5% 0.1647 133.2);
      --lime-track: oklch(65.5% 0.1647 133.2);

      --gray-1: oklch(99.1% 0.0041 261.7);
      --gray-2: oklch(98.2% 0.0083 261.7);
      --gray-3: oklch(95.6% 0.0125 261.7);
      --gray-4: oklch(93.1% 0.0168 261.7);
      --gray-5: oklch(91% 0.0211 261.7);
      --gray-6: oklch(88.8% 0.0256 261.7);
      --gray-7: oklch(85.3% 0.0323 261.7);
      --gray-8: oklch(79.4% 0.0411 261.7);
      --gray-9: oklch(64.6% 0.0411 261.7);
      --gray-10: oklch(61% 0.0411 261.7);
      --gray-11: oklch(10.1% 0.0274 261.7);
      --gray-12: oklch(10.1% 0.0274 261.7);

      --gray-a1: color(display-p3 0.0235 0.2667 1 / 0.016);
      --gray-a2: color(display-p3 0.0196 0.2667 0.8784 / 0.032);
      --gray-a3: color(display-p3 0.0078 0.2275 0.6157 / 0.071);
      --gray-a4: color(display-p3 0.0039 0.2157 0.5725 / 0.11);
      --gray-a5: color(display-p3 0.0078 0.2 0.5608 / 0.142);
      --gray-a6: color(display-p3 0.0039 0.1647 0.502 / 0.173);
      --gray-a7: color(display-p3 0.0039 0.1765 0.5216 / 0.228);
      --gray-a8: color(display-p3 0.0039 0.1529 0.4706 / 0.31);
      --gray-a9: color(display-p3 0.0039 0.0902 0.2745 / 0.487);
      --gray-a10: color(display-p3 0 0.0824 0.2471 / 0.526);
      --gray-a11: color(display-p3 0 0.0157 0.0471 / 0.899);
      --gray-a12: color(display-p3 0 0.0157 0.0471 / 0.899);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0411 261.7);
      --gray-track: oklch(64.6% 0.0411 261.7);
    }
  }
}
